//  Import global variables and mixins
@import '../../app.common';

.page {

    .container {
        display: flex;
        flex-direction: row;
        margin: auto;
        max-width: $content-max-width;
    }
}