<!DOCTYPE html>
<html>
    <title>@ViewData["Title"] System Watch</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>
    
    <system-watch>
        @RenderBody()
    </system-watch>

    <script src="/js/vendor.bundle.js"></script>
    <script src="/js/app.bundle.js"></script>
  </body>
</html>