//  Import global variables and mixins
@import '../../app.common';

.title {
    display: inline-block;
    border-bottom: 0.5px solid $component-title-color;
    margin-bottom: 5px;
    text-transform: uppercase;
    color: $component-title-color;
}

ul {
    border-spacing: 5px;
    list-style-type: none;
    margin: 0px;
    padding: 0px;

    li {
        margin-bottom: 5px;

        span {
            padding-right: 5px;
        }

        .name {
            font-weight: 600;
        }

        .id {
            color: #292929;
            font-size: 0.8em;
        }
    }
}