<div class="header">
    <span class="title" >All processes</span>

    <!-- TODO: Dropdown logo -->
    <select class="sorting" value="name" (change)="sortProcess($event.target.value, sortAscending)">
        <option *ngFor="let option of sortOptions" [value]="option.value" >{{option.label}}</option>
    </select>

    <button (click)="sortProcess(sortProperty, !sortAscending)" >Reverse</button>
</div>

<ul>
    <li *ngFor="let process of sortedProcesses">
        <span class="name">{{process.name}}</span>
        <span class="id">#{{process.id}}</span>
    </li>
</ul>