//  Import global variables and mixins
@import '../app.common';

// Variables
$top-item-width: 100px;
$top-items-count: 2;

// Mixins
@mixin dropdown-transition($visible, $opacity, $time, $delay) {
    opacity: $opacity;
    visibility: $visible;
    @include transition(visibility 0s linear $delay, opacity $time ease-in);
}

* {
    text-decoration: none;
    color: $menu-font-color;
}

nav {
    width: 100%;
    background-color: $menu-secondary-color;
    @include transition(width 0.5s ease-in-out);

    &.home {
        position: absolute;
        top: 0;
        left: 0;
        width: ($top-item-width * $top-items-count) + 1;
        z-index: 1;
    }

    ul {
        padding: 0;
        margin: auto;
        overflow: hidden;
        list-style-type: none;
        height: $topnav-height;
        max-width: $content-max-width;

        .menu-item {
            float: left;
            min-width: $top-item-width;
            text-align: center;

            &:hover {
                background-color: $menu-primary-color;
            }

            .menu-link {
                display: inline-block;
                width: 100%;
                padding: 14px 16px;
                box-sizing: border-box;
            }

            .dropdown-content {
                @include dropdown-transition(hidden, 0, 0.1s, 0.5s);
                position: absolute;
                min-width: 100px;
                text-align: left;
                background-color: $menu-secondary-color;
                z-index: 1000;

                a {
                    display: block;
                    padding: 5px 16px;
                    
                    &:hover {
                        background-color: $menu-primary-color;
                    }
                }
            }
        }

        .dropdown-menu:hover .dropdown-content {
            @include dropdown-transition(visible, 1, 0.1s, 0s);
        }
    }
}