//  Import global variables and mixins
@import './app.common';

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
    font-family: $main-font-family;
}

@include mobile {
    .page {
        overflow-y: auto;
    }
}