@charset 'utf-8';

// Variables
$tablet-width: 768px;
$desktop-width: 1024px;

$main-font-family: Sans-Serif;

$menu-primary-color: #A59465;
$menu-secondary-color: #3F3F3F;
$menu-font-color: #FFFFFF;

$content-max-width: 1050px;

// Mixins
@mixin tablet {
  @media (min-width: #{$tablet-width}) and (max-width: #{$desktop-width - 1px}) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: #{$desktop-width}) {
    @content;
  }
}

@mixin transition($transition...) {
    -moz-transition:    $transition;
    -o-transition:      $transition;
    -webkit-transition: $transition;
    transition:         $transition;
}