//  Import global variables and mixins
@import './app.common';

body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-family: $main-font-family;
}

.page {
    overflow: hidden;
    height: calc(100vh - #{$topnav-height});
    background-color: whitesmoke;
}

@include mobile {
    .page {
        overflow-y: auto;
    }
}