//  Import global variables and mixins
@import '../app.common';

nav {
    background-color: $menu-secondary-color;

    ul {
        padding: 0;
        margin: auto;
        overflow: hidden;
        list-style-type: none;
        max-width: $content-max-width;

        li {
            float: left;
            min-width: 100px;
            text-align: center;

            &:hover {
                background-color: $menu-primary-color;
            }

            a {
                display: inline-block;
                color: $menu-font-color;
                text-decoration: none;
                padding: 14px 16px;
            }

            .dropdown {
                &:hover .dropdown-content {
                    display: block;
                }
            }

            .dropdown-content {
                display: none;
                position: absolute;
                min-width: 100px;
                background-color: $menu-secondary-color;

                a { 
                    display: block;
                    padding: 5px 16px;
                    
                    &:hover {
                        background-color: $menu-primary-color;
                    }
                }
            }
        }
    }
}