//  Import global variables and mixins
@import '../../app.common';

// Variables
$block-margin: 10px;

:host {
    height: 100%;
    margin: auto;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
    max-width: $content-max-width;
    box-sizing: border-box;
    padding: 16px;
}

.block {
    width: 50%;
    overflow: hidden;
    box-sizing: border-box;
    background-color: white;
}

.left {
    flex: 1 0 100%;
    margin-right: $block-margin;
    padding: 5px 0px 0px 10px;
}

.right {
    flex: 0 0 calc(50% - #{$block-margin / 2});
}

@include mobile {
    :host {
        overflow-y: auto; 
    }

    .block {
        flex: 1;
        width: 100%;
        margin: $block-margin 0 $block-margin 0;
    }

    .left {
        margin: 0;
        padding: 0;
        border: none;
    }
}