//  Import global variables and mixins
@import '../../app.common';

:host {
    height: 100%;
    display: flex;
    flex-flow: column;
    position: relative;
}

.header {
    height: $component-title-height;
    margin-bottom: 10px;
    font-size: 1.1em;
    color: $component-title-color;

    h2 {
        margin: 0;
        display: inline-block;
        line-height: $component-title-height;
    }

    .sort {
        float: right;
        line-height: $component-title-height;

        .order {
            width: 17px;
            text-align: center;
            display: inline-block;
        }
    }
}

.processes {
    position: relative;
    overflow-y: hidden;

    ul {
        user-select: none;

        & > li {
            height: 25px;
            line-height: 25px;
            cursor: pointer;
            display: flex;
            flex-direction: row;
            justify-content: space-between;

            &:hover {
                background-color: #B9BDBF;
            }

            &.selected {
                color: white;
                background-color: #7C7E7F;
            }

            .name {
                margin-left: 2px;
                text-overflow: ellipsis;
                white-space: nowrap;
                overflow: hidden;
                font-weight: 600;
            }

            div:last-child {
                margin-right: 15px;
            }
        }
    }
}