//  Import global variables and mixins
@import '../../app.common';

:host {
    height: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

.header {
    margin: 0;
    position: relative;
    margin-bottom: 10px;
    display: inline-block;
    height: $component-title-height;
    line-height: $component-title-height;
}

.order {
    width: 17px;
    text-align: center;
}

.processes {
    width: 100%;
    position: relative;
    overflow-y: hidden;

    ul {
        user-select: none;

        & > li {
            height: 25px;
            line-height: 25px;
            cursor: pointer;
            display: flex;
            flex-direction: row;
            justify-content: space-between;

            &:hover {
                background-color: #B9BDBF;
            }

            &.selected {
                color: white;
                background-color: #7C7E7F;
            }

            .name {
                margin-left: 2px;
                text-overflow: ellipsis;
                white-space: nowrap;
                overflow: hidden;
                font-weight: 600;
            }

            div:last-child {
                margin-right: 15px;
            }
        }
    }
}